body {
    background-color: #517d5e;
}

main {
    display: flex;
    margin-top: 5%;
    flex-direction: column;

}

/* Header  */
header {
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background: #4d5f8b;
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

h1 {
    font-size: 40px;
    border: 2px solid white;
    border-radius: 5%;
    box-shadow: -5px 5px 5px white;
    background: #517d5e;
    width: auto;
    margin: 5px;
    padding: 10px;

}

/* Nav Bar */


nav {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;


    align-items: flex-end;
    padding-right: 5%;
    font-size: large;

}

nav a:link {
    color: lightskyblue;
    text-decoration: underline;
    background-color: transparent;
    margin: 5px;
}

/* Banner */


figure img {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    border: 3px solid white;
}

/* quote */
.box {
    display: flex;
    position: relative;
    width: 50%;
    text-align: left;
    margin: 10px;
    border: 3px solid white;
    border-radius: 5px;
    padding: 6px 20px;
    color: blueviolet;
    font-size: 20px;
    left: 45%;
    bottom: 145px;
    background-color: white;

}

/* About Me */
.about-me {
    display: flex;
    width: 100%
}

h2 {

    Color: Orange;
    font-size: 40px;
    padding: 10px 20px;
    border-right: 2px solid white;

}

.content1 {

    height: 100px;
    border-right: 2px solid white;
    flex-wrap: wrap;
    text-align: right;

}


h3 {
    display: inline-block;
    height: 100px;
    width: 80%;
    margin: 10px;
    padding: 0px 20px;
    color: brown;
    flex-wrap: wrap;

}

.column1 {
    width: 20%;
    text-align: right;
    min-width: 250px;
}


.column2 {
    width: 80%;
}

/* Work */
.work {
    display: flex;

}

.work-section {
    display: flex;
    width: 100%;

}


.buttons {
    display: inline-block;
    height: 100px;
    width: 80%;
    margin: 10px;
    padding: 0px 20px;
    flex-wrap: wrap;

}

h4 {
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

h5 {
    color: black;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

.surf-report {

    background-image: url("../images/prism.avif");
    background-size: cover;
    background-position: center;
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    border: 2px solid white;
    margin: 0px;
}

.surf-report a:hover {
    background-blend-mode: hard-light;
}

.led-wall {

    background-image: url("../images/city.avif");
    background-size: cover;
    background-position: center;
    min-height: 100px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    border: 2px solid white;
    margin: 0px;
    
}

.calculator {
    background-image: url("../images/skyscraper.avif");
    background-size: cover;
    background-position: center;
    min-height: 100px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    border: 2px solid white;
    margin: 0px;

}

.pastel-puzzles {
    background-image: url("../images/windows.avif");
    background-size: cover;
    background-position: center;
    min-height: 100px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    border: 2px solid white;
    margin: 0px;
}

.run-buddy {
    background-image: url("../images/yellow.avif");
    background-size: cover;
    background-position: center;
    min-height: 100px;
    width: 50%;
    display: flex;
    justify-content:flex-start;
    text-align: left;
    border: 2px solid white;
    margin: 0px;

}



.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;


}

.contactinfo {
    display: flex;

}

.surf {
    position: relative;
    display: flex;
    margin: 20px;
    padding: 0px;
    width: 500px;
    height: 500px;


}

.title {
    position: relative;
    width: 300px;
    height: 50px;
    text-align: left;
    margin: 10px;
    border: 3px solid white;
    background-color: #517d5e;
    border-radius: 5px;
    padding: 6px 20px;
    color: yellow;
    font-size: 28px;
    left: 10%;
    bottom: 10%;


}

.info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 30px;

    padding: 10px;
}

.work2 {
    display: flex;
}




.images {
    padding: 10px;
    position: relative;
    width: 40%;
    max-width: 300px;
    left: 32%;
    justify-content: space-around;


}

.images p {
    border: 2px solid white;
    color: brown;
    width: fit-content;
    padding: 3px;
    background-color: white;


}