

body {
    background-color: #517d5e;
}

main {
    display: flex;
    margin-top: 5%;
}

header {
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background: #4d5f8b;
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: flex-end;
    padding-right: 5%;
    font-size: large;

}

nav a:link {
    color: lightskyblue;
    text-decoration: underline;
    background-color: transparent;
    margin: 5px;
}


h1 {
    font-size: 40px;
    border: 2px solid white;
    border-radius: 5%;
    box-shadow: -5px 5px 5px white;
    background: #517d5e;
    width: auto;
    margin: 5px;
    padding: 10px;

}

/* .contact-me{
    float:bottom;

} */
.box {
    position: relative;
    width: 50%;
    text-align: left;
    margin: 10px;
    border: 3px solid white;
    border-radius: 5px;
    padding: 6px 20px;
    color: blueviolet;
    font-size: 28px;
    left: 45%;
    bottom: 145px;
    background-color: white;

}

figure img {
    width: 100%;
    max-height: 10%;
    position: relative;
    border: 3px solid white;
}







.right {
    display: inline-block;
    justify-content: space-between;
    width:80%;

}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;


}

h2 {
    display: flex;
    Color: Orange;
    font-size: 40px;
    width: 200px;
    padding: 10px 20px;
    border-right: 2px solid white;
    text-align: end;




}

.about-me {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: brown;
    width: 80%;
    height:10%;

}

.info {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 5px;
}

.surf {
    position: relative;
    display: flex;

    width: 500px;
    height: 500px;
    left: 32%;
    bottom: 50px;

}

.title {
    position: relative;
    width: 300px;
    text-align: left;
    margin: 10px;
    border: 3px solid white;
    background-color: #517d5e;
    border-radius: 5px;
    padding: 6px 20px;
    color: yellow;
    font-size: 28px;
    left: 32%;
    bottom: 120px;

}

.images {

    padding: 10px;
    position: relative;
    width: 40%;
    max-width: 300px;
    left: 32%;
    justify-content: space-around;

}